/*login页面，背景*/
#click_pic{width: 150px;height: 40px;  position: absolute; bottom: 5%;right:5%;z-index: 100}
#click_pic a{width: 40px; height: 40px;float:left;display: block;}
.click_pic{background: transparent url(../images/anniu.png) no-repeat;overflow: hidden;width: 40px;height: 40px;margin: 0 10px;}
.click_pic_a{background-position: 0 -84px;}
.click_pic_b{background-position: 0 -126px;}
.thumb{height:120px;width:180px;float:right;position:relative;right:0px;}

.readonly-bg {background: #f2f2f2;}

.layui-btn-fense{background-color:#d773e6}
.layui-btn-lvse{background-color:#87bc3f}
.layui-breadcrumb {visibility: visible;}
pre {
    display: block;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 9.5px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.ace_header{position:relative;height:35px;background:#565656}
.ace_header span{float:left;height:35px;line-height:35px;padding:0 15px;font-size:13px;text-align:center;color:#fff;border-right:1px solid #4c4c4c;cursor:pointer}
.ace_header span i{margin-right:5px}
.ace_header span .fa{margin-right:5px}
.ace_header span:hover{background:#2f2f2f}
.ace_header .pull-down{display:inline-block;position:absolute;z-index:999;right:0;height:35px;line-height:35px;padding:0 14px;font-size:15px;color:#fff;background:#292929;cursor:pointer}
.helps_left{width:50%;float:left}
.helps_conter{padding:25px;overflow:hidden}
.helps_conter .helps_item{margin-bottom:10px;display:inline-block;border-left:3px solid #20a53a;padding-left:5px;font-size:15px}
.helps_conter .helps_box{margin-bottom:20px;font-size:14px;padding-left:10px;line-height:25px}
#change_ace_themes option{height:30px; line-height:30px;font-size-adjust: inherit;font-size:20px;margin-bottom:5px;}