{include file='header'/}
<style>
.alert-danger-light .layui-elem-quote{background-color: #f2dede;border-color: #ebcdcd;color: #b94a48;}
</style>
<body>
<div class="weadmin-body">
    {if preg_match('/\/admin\/|admin\.php/i', url())}
    <div class="alert alert-danger-light">
        <blockquote class="layui-elem-quote">
            <i class="iconfont icon-warnfill"></i>&emsp;安全提示：你正在使用默认的后台登录入口，为了你的网站安全，强烈建议你修改后台登录入口，
            <a href="javascript:;" onclick="welcome_xiugai()">点击查看修改方法</a>
        </blockquote>
    </div>
    {/if}



</div>

</body>
{include file='footer'/}
<script>
    function welcome_xiugai() {
        layer_index=layer.open({
            type:2,
            offset:'50px',
            area:['850px', '600px'],
            title:'隐藏后台登录入口地址的方法',
            shadeClose: true, //开启遮罩关闭
            content:"{:url('public_welcome_xiugai')}"
        });
    }
</script>