<!-- 底部结束 -->
<script type="text/javascript" src="__LIB__jquery/jquery.2.2.4.min.js"></script>
<script type="text/javascript" src="__LIB__layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__LIB__jquery/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="__LIB__jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="__LIB__jquery/jquery.base64.js"></script>

<script type="text/javascript">
    layui.config({
        base: '__STATIC_ADMIN__js/'
        ,version: '101100'
    }).extend({ //设定模块别名
        admin: 'admin'
        ,menu: 'menu'
    });
    layui.use(['jquery', 'admin', 'menu'], function(){
        var $ = layui.jquery,
            admin = layui.admin,
            menu = layui.menu;
        $(function(){
            menu.getMenu("{:url('index/show_menu')}");
        });
    });

    $('html').niceScroll({
        cursorcolor: "#f00",//#CC0071 光标颜色
        cursoropacitymax: 0.9, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
        touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
        cursorwidth: "8px", //像素光标的宽度
        cursorborder: "0", // 	游标边框css定义
        cursorborderradius: "5px",//以像素为光标边界半径
        autohidemode: false //是否隐藏滚动条
    });

</script>