{include file='header'/}
<body>
<div class="weadmin-body">
    <form class="layui-form" action="javascript:;" onsubmit="return dosub(this)" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="we-red">*</span>模型名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="" lay-verify="required" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="we-red">*</span>模型表名
            </label>
            <div class="layui-input-block">
                <input type="text" id="tablename" name="tablename" value="" lay-verify="required" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模型简介</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="description" id="description" lay-verify="required"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="enabled" class="layui-form-label">禁用</label>
            <div class="layui-input-block" id="enabled">
                <input type="radio" name="disabled" value="1" title="是">
                <input type="radio" name="disabled" value="0" title="否" checked>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="hidden" name="dosubmit" value="1">
            <button class="layui-btn"  lay-submit=""type="submit" name="dosubmit">确定</button>
        </div>
    </form>
</div>

{include file='footer'/}

<script>
    function dosub(obj) {
        $.ajax({
            type: 'POST',
            url: '{:url('add')}',
            data: $(obj).serialize(),
            dataType: "json",
            success: function (res) {
                if(res.status == 1){
                    layer.msg(res.msg, {
                        icon: 1,
                        time: 2000
                    }, function(){
                        parent.location.reload();
                    });
                }else{
                    layer.msg(res.msg);
                }
            }
        });
        return false;
    }
</script>
</body>
</html>